body {
    background-color: rgb(41, 41, 41);
    font-family: "Archivo Black";
    color: aliceblue;
}
.cabecalho {
    justify-content: center;
    text-align: center;
    display: flex;  
}
.cabecalho a {
    text-decoration: none;
    color: white;
}
.formulario{
    justify-content: center;
    border-style: solid;
    padding: 1rem;

}
input {
    margin-bottom: 1rem;
}

